
@mixin card-imageM
{
    width: 100%;
    height: 177px;
    border-radius: 20px 20px 0px 0px;
}

@mixin buttonM
{
    width: 80px;
    height: 30px;
    border: 1px solid #99E2D0;
    background-color: #99E2D0;
    position: absolute;
    top: 15px;
    right: 12px;
}

@mixin button-pM
{
    color: #1b6150;
    position: absolute;
    text-decoration: none;
    margin: 6px;
}

@mixin restaurant-cardM
{
    width: 90%;
    height: 251px;
    box-shadow: 1px 1px 5px grey;
    border: 0px solid grey;
    border-radius: 20px;
    position: relative;
}

@mixin restaurant-titre
{
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 1.2em;
    color: #0e0b0b; 
}

@mixin restaurant-textM 
{
    text-decoration: none;
    color: black;
}  


html, body
{
    margin: 1px;
    padding: 0;
}
#block-page
{
    font-family: "Roboto", sans-serif;
    width: 100%;
    animation: faiden 2s;
}

@keyframes faiden
{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


#loader
{
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 10 ;
    opacity: 85%;
    animation-name: loader;
    animation-duration: 4s;
    animation-fill-mode: both;
   
     #icone-loader
    {
       border: 10px solid #f3f3f3;
       width: 150px;
       height: 150px;
       border-top: 20px solid #9356DC;
       border-bottom: 20px solid #99E2D0;
       border-right: 20px solid #FF79DA;
       border-left: 20px solid #1b6150;
       border-radius: 50px;
       margin: auto;
       position: absolute;
       right: 0; left: 0; top: 0; bottom: 0;
       .svg-inline--fa
       {
           margin: auto;
           position: absolute;
           font-size: 4rem;
           right: 0; left: 0; top: 0; bottom: 0;
       }
        animation: spin 3s linear infinite;
    }
}

@keyframes loader 
{
    0%{
        opacity: 85%;
    }
    100%{
        opacity: 0%;
    }
    
}

@keyframes spin
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        }
}

#header
{
    padding-top: 20px;
    padding-bottom: 20px;
    #titre-principal
    {
        width: 170px;
        height: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Partie localisation*/

#logo-localisation
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0dfdf;
    border: 0px solid #0e0b0b;
    box-shadow: inset 0px 3px #dad8d8;
    #localisation-titre
    {
        margin-left: 12px;
        height: 17px;
        text-align: center;
    }
}

/*Partie réservation*/

#reservation
{
    width: 100%;
    text-align: center;
    background-color: #F1F0F6;
    padding-top: 20px;
    padding-bottom: 55px;
    #reservation-titre
    {
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
    }
    #reservation-text
    {
        margin-bottom: 30px;
        color: #616060;
        font-size: 1.125rem;
        font-weight: 300;
        text-align: center;
    }
    #button-explorer
    {
        width: 220px;
        height: 50px;
        font-size: 1.1em;
        text-align: center;
        color: white;
        display: block;
        cursor: pointer;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 2px 3px 0px;
        background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
        transition: box-shadow 150ms linear, transform 150ms linear;
        border-radius: 30px;
        padding-top: 2px;
        transform: scale(1);
        &:hover
        {
            transform: scale(.95);
        }
        
        #button-text
        {
            font-family: "Roboto", sans-serif;
            font-size: 1rem;
            font-weight: 400;
            border: none;
        }
    }
}

/*Partie fonctionnement*/

#partie-fonctionnement
{
    padding: 25px 0px 40px 25px;
    #fonctionnement-listes
    {
        display: flex;
        .fonctionnement-liste
        {
            width: 80%;
            height: 73px;
            margin-bottom: 25px;
            margin-left: 10px;
            margin-right: 45px;
            background-color: #f5f2f2;
            border: 0px solid grey;
            border-radius: 20px;
            box-shadow: 2px 5px 5px #e0dcdc;
            display: flex;
            cursor: pointer;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            transition-property: background-color;
            transition-duration: 1s;
            &:hover
            {
              background-color: #bea8da;
            }

            .fonctionnement-numero
            {
                width: 1em;
                border-radius: 50px;
                border: 2px solid #9356DC;
                background-color: #9356DC;
                color: white;
                width: 1em;
                padding: 5px 2px 5px 10px;
                margin-left: -15px;
            }

            .fonctionnement-logo
            {
                width: 1.5em;
                padding: 0 10px 0 20px;
                color: grey;
            }
        }
    }
}


/** Partie restaurant*/

#restaurants
{
    width: 100%;
    background-color: #ececec;
    padding: 20px 0px 110px 0px;
    #restaurant-titres
    {
       padding: 1% 0 2% 9%; 
    }
}
    
.restaurant-cards
{
    display: grid;
    justify-content: center;
    gap: 8% 2%;
    grid-template-columns: 1fr 40% 40% 1fr;
    grid-template-rows: 1fr 1fr;
}

#restaurant-card1
{
    @include restaurant-cardM;
    grid-column: 2/3;
    grid-row: 1/2;
    .restaurant-a
    {
        text-decoration: none;
        color: #0e0b0b;
    }
}

#restaurant-card2
{
    @include restaurant-cardM;
    grid-column: 3/4;
    grid-row: 1/2;
    .restaurant-a
    {
        text-decoration: none;
        color: #0e0b0b;
    }
}

#restaurant-card3
{
    @include restaurant-cardM;
    grid-column: 2/3;
    grid-row: 2/2;
    .restaurant-a
    {
        text-decoration: none;
        color: #0e0b0b;
    }
}

#restaurant-card4
{
    @include restaurant-cardM;
    grid-column: 3/4;
    grid-row: 2/2;
    .restaurant-a
    {
        text-decoration: none;
        color: #0e0b0b;
    }
}
  
.restaurant_image
{
    .card-image
    {
        @include card-imageM;
        object-fit: cover;
    }
    .button-new
    {
        @include buttonM;
        p
        {
            @include button-pM; 
        }
    }
}
            
.restaurant-description 
{
    margin-left: 15px;
    position: relative;   
    cursor: pointer;
    h2
    {
        @include restaurant-titre;       
    }
    .restaurant-text 
    {
        @include restaurant-textM;
    }  
}

/* Partie Icone heart */

.btn-heart
{
    position: absolute;
    right: 7%;
    bottom: 7%;

    #heart-empty
    {
        width: 30px;
        height: 30px;
        position: absolute;
        opacity: 1;
        z-index: 1;
        transition-property:opacity, z-index;
        transition-duration: 1s;
        #heart-empty1
        {
            font-size: 30px; 
            background-color: #ececec;
        }
        &:hover
        {
            z-index: -1;
            opacity: 0;
        }
    }
 
        
    #heart-full
    {
        font-size: 30px;
        
        path{
        fill: url(#grad1);
        }
    } 
}

#block-footer
{
    font-size: 12px;
    background-color: #353535;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    padding: 10px 0 13px 35px;
    margin: 0 -2px -2px -2px;
    #footer-titre
    {
        margin-left: 10px;
    }
    .footer-icone
    {
        display: flex;
    }
    p
    {
        color: white;
        font-size: 1.25em;
        margin: 7px;
        font-family: "Roboto", sans-serif;
    }
    a 
    {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        padding: 7px 0 23px 6px;
        font-family: "Roboto", sans-serif;
    }

}

.footer-icone .svg-inline--fa
{
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}

#footer-logo
{
    width: 110px;
    height: 15px;
    filter: invert(100%);
}
    
.fas.fa
{
    color: white;
}
    
@media screen and (min-width: 768px) and (max-width: 1023px)
{
    #fonctionnement-listes
    {
        flex-direction: column;
    }
}

@media screen and (min-width:320px) and (max-width: 767px)
{
    body 
    {
        margin: 0;
        padding: 0;
    }

    #block-page
    {
        font-family: "Roboto", sans-serif;
        width: 100%;
    }
    

    #fonctionnement-listes
    {
        display: flex;
        flex-direction: column;
        .fonctionnement-liste
        {
            width: 90%;
        }
    }

    #restaurant-titres
    {
        padding-left: 1%;
        
    }
    .restaurant-cards
    {
        display: flex;
        flex-direction: column;
        .card
        {
            margin: 0 0 30px 20px;
            width: 92%;
        }
    }

    #restaurants
    {
        padding-bottom: 80px;
    }
}
