body
{
    padding: 0px;
    margin: 0px;
}
#block-page
{
    font-family: "Roboto", sans-serif;
    width: 100%;
}


#logo-presentation
{
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    .fleche
    {
        color: black;
        font-size: 1.5rem;
        padding-left: 35px;
    }
    #titre-principal
    {
        width: 170px;
        height: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Partie image du restaurant */

#presentation-restaurant
{
    height: 333px;
    position: relative;
    #page-image
    {
        width: 100%;
        position: absolute;
        #restaurant-img
        {
                width: 100%;
                height: 332px;
                object-fit: cover;
                color: grey;
                margin-bottom: -5px;
        }
    }

    #titre-restaurant
    {
        border-radius: 25px 25px 0 0;
        background-color: #efefef;
        padding-top: 20px;
        width: 100%;
        bottom: 145px;
        position: absolute;
        z-index: 1;
        bottom: 0px;
        h1 
        {
            font-size: 1.6rem;
            font-family: "shrikhand",sans-serif;
            padding-left: 20px;
            padding-left: 20px;
        }
    }
}

/* Partie Icone heart */

.btn-heart
{
    position: absolute;
    right: 6%;
    bottom: 20%;
    cursor: pointer;

    #heart-empty
    {
        width: 30px;
        height: 30px;
        position: absolute;
        opacity: 1;
        z-index: 1;
        transition-property:opacity, z-index;
        transition-duration: 1s;
        #heart-empty1
        {
            font-size: 30px; 
            background-color: #ececec;
        }
        &:hover
        {
            z-index: -1;
            opacity: 0;
        }
    }
 
        
    #heart-full
    {
        font-size: 30px;
        
        path{
        fill: url(#grad1);
        }
    } 
}

/* Partie-restaurant */

#restaurant-menu
{
    
    display: grid;
    background-color: #efefef;
    padding-top: 3px;
    padding-bottom: 35px;
    @media (min-width:64rem)
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .title-menu
    {
        font-size: 1rem;
        margin: 0px 0 20px 10px;
    }
}

.underline
{
    border-bottom: 3px solid #99e2d0;
    width: 40px;
    margin: -5px 0 18px 10px;
}


#part-entree, #part-plat, #part-dessert
{
    max-width: 83%;
    padding-bottom: 45px;
    padding-left: 10px;
}


.menu
{
    max-width: 100%;
    border-radius: 20px;
    height: 75px;
    margin-bottom: 35px;
    overflow :hidden;
    cursor: pointer;
    background-color: #fff;
    transition: width .6s ease-in-out;
    &:hover
        {
            .part-menu
            {
                max-width: 82%;
                .prix
                {
                    transform: translateX(-24px); 
                }
                .part-confirmation
                { 
                    transform: translateX(-24px);
                    .svg-inline--fa
                    {
                    animation: check .6s ease-in;
                    }
                } 
            }
        }  


    .part-menu
    {
        width: 95%;
        position: relative;
        background-color: #fff;
        height: 75px;
        margin-bottom: 25px;
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        
        
        
        .part-title
        {
            width: 74%;
            display: flex;
            flex-direction: column;
            margin-top: -7px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
            h3 
            {
                font-size: 1.05rem;
                padding: 20px 0px 0 0px;
                margin-top: 0px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .p-menu
            {
                font-size: .83rem;
                margin-top: -10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

        }
        .prix
        {
            width: 30px;
            margin-right: 20px;
            padding-top: 38px;
            display: flex;
            justify-content: flex-end;
            font-weight: bold;
            font-size: .9rem;
            transition: transform .6s ease-in-out;
        }

        .part-confirmation
        {
            width: 80px;
            height: 80px;
            position: absolute;
            right: -80px;
            display: flex;
            transition: transform .6s ease-in-out;
           
            .icone 
            {
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #99e2d0;

                .svg-inline--fa
                {
                    font-size: 1.6rem;
                    color: white;
                    background-color: #99e2d0;
                }
            }
        }
    }
}



@keyframes check{
    0% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

/*  Partie Animation part-menu */

.animation1
{
    animation: apparition .6s ease-in-out both;
    animation-delay: .1s;
}
.animation2
{
    animation: apparition .6s ease-in-out both;
    animation-delay: .2s;
}
.animation3
{
    animation: apparition .6s ease-in-out both;
    animation-delay: .3s;
}
.animation4
{
    animation: apparition .6s ease-in-out both;
    animation-delay: .4s;
}
.animation5
{
    animation: apparition .6s ease-in-out both;
    animation-delay: .5s;
}
.animation6
{
    animation: apparition .6s ease-in-out both;
    animation-delay: .6s;
}
.animation7
{
    animation: apparition .6s ease-in-out both;
    animation-delay: .7s;
}
.animation8
{
    animation: apparition .6s ease-in-out both;
    animation-delay: .8s;
}
.animation9
{
    animation: apparition .6s ease-in-out both;
    animation-delay: .9s;
}
.animation10
{
    animation: apparition .6s ease-in-out both;
    animation-delay: 1s;
}

@keyframes apparition
{
    0%{
        transform: scale(0)
    }
    100%{
        transform: scale(1);
    }
}


/* Partie Button */

#commande
{
    height: 180px;
    background-color: #efefef;
    #part-button
    {
        width: 220px;
        height: 55px;
        font-size: 1.1em;
        text-align: center;
        color: white;
        display: block;
        cursor: pointer;
        margin-right: auto;
        margin-left: auto;
        box-shadow: 0px 0px 12px 0px #716c6c;
        background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
        transition: box-shadow 150ms linear, transform 150ms linear;
        border-radius: 30px;
        padding-top: 2px;
        transform: scale(1);
        &:hover
        {
            transform: scale(1.10);
            background: linear-gradient(175deg, rgba(255, 121, 218, 0.7) 10%, rgba(147, 86, 220, 0.7) 95%);
        }
            
        #p-button
        {
            font-family: "Roboto", sans-serif;
            font-size: 1rem;
            font-weight: 400;
            border: none;
        }
    }
}


/*Partie footer*/

#block-footer
{
    font-size: 12px;
    background-color: #353535;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    padding: 0 0 0 25px;
    #footer-titre
    {
        margin-left: 11px;
    }
    .footer-icone
    {
        display: flex;
    }
    p
    {
        color: white;
        font-size: 1.25em;
        margin: 7px;
        font-family: "Roboto", sans-serif;
    }
    a 
    {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        padding: 7px 0 23px 6px;
        font-family: "Roboto", sans-serif;
    }
}

.footer-icone .svg-inline--fa
{
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}
#footer-logo
{
    width: 110px;
    height: 15px;
    filter: invert(100%);
}

@media screen and (min-width: 768px) and (max-width: 1023px)

{
    body
    {
        margin: 0px;
    }

    #restaurant-menu
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .menu 
        {
            width: 90%;
            margin-left: 22px;
            .part-menu
            {
                width: 97%;
                margin-left: 40px;
                .prix
                {
                    margin-right: 40px;
                }
                .part-confirmation
                {
                    width: 80px;
                    right: -13%;
                    .icone
                    {
                        width: 121px;
                        .svg-inline--fa
                        {
                            width: 121px;
                        }
                    }
                }
                
            }
        }
    }
    
    #part-entree, #part-plat, #part-dessert
    {
        width: 100%;
    }
}


@media screen and (min-width:320px) and (max-width: 767px)

{
    body 
    {
        margin: 0px;
    }

    #restaurant-menu
    {
        display: flex;
        flex-direction: column;
        .title-menu
        {
            margin: 0px 0px 20px 25px;
        }
        .underline
        {
            margin: -5px 0 18px 25px;
        }
        .menu 
        {
            width: 95%;
            margin-left: 10px;
            .part-menu
            {
                width: 97%;
                margin-left: 12px;
                .part-title
                {
                    width: 77%;
                }
                .prix
                {
                    margin-right: 12px;
                }
                .part-confirmation
                {
                    width: 37%;
                    right: -43%;
                    .icone
                    {
                        width: 55%;
                        .svg-inline--fa
                        {
                            width: 80px;
                        }
                    }
                }
                
            }
        }
    }
    #part-entree, #part-plat, #part-dessert
    {
        max-width: 100%;
        padding-left: 0px;
    }
}
