body {
  padding: 0px;
  margin: 0px;
}

#block-page {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

#logo-presentation {
  padding-top: 15px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#logo-presentation .fleche {
  color: black;
  font-size: 1.5rem;
  padding-left: 35px;
}

#logo-presentation #titre-principal {
  width: 170px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Partie image du restaurant */
#presentation-restaurant {
  height: 333px;
  position: relative;
}

#presentation-restaurant #page-image {
  width: 100%;
  position: absolute;
}

#presentation-restaurant #page-image #restaurant-img {
  width: 100%;
  height: 332px;
  -o-object-fit: cover;
     object-fit: cover;
  color: grey;
  margin-bottom: -5px;
}

#presentation-restaurant #titre-restaurant {
  border-radius: 25px 25px 0 0;
  background-color: #efefef;
  padding-top: 20px;
  width: 100%;
  bottom: 145px;
  position: absolute;
  z-index: 1;
  bottom: 0px;
}

#presentation-restaurant #titre-restaurant h1 {
  font-size: 1.6rem;
  font-family: "shrikhand",sans-serif;
  padding-left: 20px;
  padding-left: 20px;
}

/* Partie Icone heart */
.btn-heart {
  position: absolute;
  right: 6%;
  bottom: 20%;
  cursor: pointer;
}

.btn-heart #heart-empty {
  width: 30px;
  height: 30px;
  position: absolute;
  opacity: 1;
  z-index: 1;
  -webkit-transition-property: opacity, z-index;
  transition-property: opacity, z-index;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.btn-heart #heart-empty #heart-empty1 {
  font-size: 30px;
  background-color: #ececec;
}

.btn-heart #heart-empty:hover {
  z-index: -1;
  opacity: 0;
}

.btn-heart #heart-full {
  font-size: 30px;
}

.btn-heart #heart-full path {
  fill: url(#grad1);
}

/* Partie-restaurant */
#restaurant-menu {
  display: -ms-grid;
  display: grid;
  background-color: #efefef;
  padding-top: 3px;
  padding-bottom: 15px;
}

@media (min-width: 64rem) {
  #restaurant-menu {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

#restaurant-menu .title-menu {
  font-size: 1rem;
  margin: 0px 0 20px 10px;
}

.underline {
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  margin: -5px 0 18px 10px;
}

#part-entree, #part-plat, #part-dessert {
  max-width: 83%;
  padding-left: 10px;
}

.menu {
  max-width: 100%;
  border-radius: 20px;
  height: 75px;
  margin-bottom: 35px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: width .8s ease-in-out;
  transition: width .8s ease-in-out;
}

.menu:hover .part-menu .part-title {
  width: calc(90% - 30%);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu:hover .part-menu .part-confirmation {
  width: 20%;
}

.menu:hover .part-menu .part-confirmation .svg-inline--fa {
  -webkit-animation: check .7s ease-in;
          animation: check .7s ease-in;
}

.menu .part-menu {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 75px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .part-menu .part-title {
  width: 90%;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: width .8s ease-in-out;
  transition: width .8s ease-in-out;
}

.menu .part-menu .part-title h3 {
  font-size: 1.05rem;
  padding: 20px 0px 0 0px;
  margin-top: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu .part-menu .part-title .p-menu {
  font-size: .83rem;
  margin-top: -10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu .part-menu .prix {
  width: 10%;
  padding-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: .9rem;
}

.menu .part-menu .part-confirmation {
  width: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 80px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99e2d0;
  -webkit-transition: width .9s ease-in-out;
  transition: width .9s ease-in-out;
}

.menu .part-menu .part-confirmation .icone {
  right: 0;
  margin: auto;
}

.menu .part-menu .part-confirmation .icone .svg-inline--fa {
  font-size: 1.6rem;
  color: white;
  background-color: #99e2d0;
}

@-webkit-keyframes check {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes check {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*  Partie Animation part-menu */
.animation1 {
  -webkit-animation: apparition .6s ease-in-out both;
          animation: apparition .6s ease-in-out both;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.animation2 {
  -webkit-animation: apparition .6s ease-in-out both;
          animation: apparition .6s ease-in-out both;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.animation3 {
  -webkit-animation: apparition .6s ease-in-out both;
          animation: apparition .6s ease-in-out both;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.animation4 {
  -webkit-animation: apparition .6s ease-in-out both;
          animation: apparition .6s ease-in-out both;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.animation5 {
  -webkit-animation: apparition .6s ease-in-out both;
          animation: apparition .6s ease-in-out both;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.animation6 {
  -webkit-animation: apparition .6s ease-in-out both;
          animation: apparition .6s ease-in-out both;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.animation7 {
  -webkit-animation: apparition .6s ease-in-out both;
          animation: apparition .6s ease-in-out both;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.animation8 {
  -webkit-animation: apparition .6s ease-in-out both;
          animation: apparition .6s ease-in-out both;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.animation9 {
  -webkit-animation: apparition .6s ease-in-out both;
          animation: apparition .6s ease-in-out both;
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

.animation10 {
  -webkit-animation: apparition .6s ease-in-out both;
          animation: apparition .6s ease-in-out both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes apparition {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
    opacity: 1;
  }
}

/* Partie Button */
#commande {
  height: 145px;
  background-color: #efefef;
}

#commande #part-button {
  width: 220px;
  height: 53px;
  font-size: 1.1em;
  text-align: center;
  color: white;
  display: block;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 0px 0px 12px 0px #716c6c;
          box-shadow: 0px 0px 12px 0px #716c6c;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
  -webkit-transition: -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
  transition: -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
  transition: box-shadow 150ms linear, transform 150ms linear;
  transition: box-shadow 150ms linear, transform 150ms linear, -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
  border-radius: 30px;
  padding-top: 2px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#commande #part-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: linear-gradient(175deg, rgba(255, 121, 218, 0.7) 10%, rgba(147, 86, 220, 0.7) 95%);
}

#commande #part-button #p-button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: none;
}

/*Partie footer*/
#block-footer {
  font-size: 12px;
  background-color: #353535;
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 25px;
}

#block-footer #footer-titre {
  margin-left: 11px;
}

#block-footer .footer-icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#block-footer p {
  color: white;
  font-size: 1.25em;
  margin: 7px;
  font-family: "Roboto", sans-serif;
}

#block-footer a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 7px 0 23px 6px;
  font-family: "Roboto", sans-serif;
}

.footer-icone .svg-inline--fa {
  color: white;
  margin-top: 10px;
  margin-left: 10px;
}

#footer-logo {
  width: 110px;
  height: 15px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    margin: 0px;
  }
  #restaurant-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #restaurant-menu .menu {
    width: 90%;
    margin-left: 22px;
  }
  #restaurant-menu .menu:hover .part-confirmation {
    width: 15%;
  }
  #restaurant-menu .menu .part-menu {
    width: 95%;
    margin-left: 37px;
  }
  #restaurant-menu .menu .part-menu .part-transform {
    width: 90%;
  }
  #part-entree, #part-plat, #part-dessert {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    margin: 0px;
  }
  #restaurant-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #restaurant-menu .title-menu {
    margin: 0px 0px 20px 25px;
  }
  #restaurant-menu .underline {
    margin: -5px 0 18px 25px;
  }
  #restaurant-menu .menu {
    width: 90%;
    margin-left: 19px;
  }
  #restaurant-menu .menu:hover .part-confirmation {
    width: 15%;
  }
  #restaurant-menu .menu .part-menu {
    width: 100%;
  }
  #restaurant-menu .menu .part-menu .part-transform {
    width: 93%;
  }
  #part-entree, #part-plat, #part-dessert {
    max-width: 100%;
    padding-left: 0px;
  }
}
/*# sourceMappingURL=menu.css.map */